/* Style */

body {
    box-sizing: border-box;
}

/* Styling for the win screen */
.done {
    background-color: hotpink;
}

.done #connection-info {
    display: none;
}



/* Styling for the player character. */
.player {
    position: fixed;
    background-color: hotpink;

    z-index: 10;

    transition: all;

    border-radius: 200px 200px;

    transform: translate(-50%, -50%);
}



/* Styling for the goal element. */
.goal {
    position: fixed;

    border: 2px solid hotpink;

    border-radius: 100% 100%;

    transform: translate(-50%, -50%);
}


/* Styling for the history indicator that the player poops out. */
.indicator {
    width: 5px;
    height: 5px;
    position: fixed;
    background-color: hotpink;
    opacity: .25;

    z-index: 1;

    transition: top left;

    border-radius: 100% 100%;

    transform: translate(-50%, -50%);
}

/** Styling for the lil box that tells you what IP address to message */
#connection-info {
    position: fixed;
    top: 97.5vh;
    left: 2.5vw;
    font-size: 1em;
    transform:translateY(-100%);
}
