body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#video-wrapper {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#video {
  border: 1px solid red;
  width: 640px;
  height: 480px;
}

.detection {
  position: absolute;
}

.keypoint {
  width: 10px;
  height: 10px;
  background-color: magenta;
  transition: all;
  transition-duration: .1s;
}

.emoji {
  font-size: 10em;
  transform: translate(-50%,-55%);
}
